@import "tailwindcss";

:root {
  --font-sans: "Inter", sans-serif;
  --font-jp: "LINE Seed JP", sans-serif;
  --background: #ebe8e2;
  --foreground: #6baa60;
  --header-text: #c8e4de;
  --header-text-hover: #9cd7ca;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-text: var(--header-text);
  --color-header-text-hover: var(--header-text-hover);
  --font-mono: var(--font-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b67777;
    --foreground: #b92a2a;
    --header-text: #b92a2a;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-jp);
  }
}
